@import "tailwindcss";

@font-face {
  font-family: 'Permanent Marker';
  src: url('@/assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-permanent-marker: "Permanent Marker", cursive;
}

@layer utilities {

    .gradient-text {
        background: 
            linear-gradient(
            125deg,
            #8ff8ff,
            #a58fff 17%,
            #ff8fd8 34%,
            #a58fff 51%,
            #8ff8ff 68%,
            #a58fff 85%,
            #ff8fd8
            ) repeat-x;
        background-size: 360% auto;
        -webkit-background-clip: text;
        background-clip: text;
        border-radius: 0.2rem;
        transition: all 0.2s;

        &:hover {
            animation: gradient 1s infinite linear;
            text-shadow: 0 0 15px rgba(227, 86, 255, 0.8);
        }

        &:active {
            animation: none;
            color: oklch(0.21 0.034 264.665);
            background-clip: border-box;
            box-shadow: 0 0 15px rgba(227, 86, 255, 0.8);
        }
    }

    @keyframes gradient {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }

    .animate-move-in {
    --tw-move-time: 0.5s;
    --tw-move-x: 0;
    --tw-move-y: 0;
    animation: move-in var(--tw-move-time) ease-in-out forwards;
    }

    @keyframes move-in {
        from {
            transform: translateX(var(--tw-move-x)) translateY(var(--tw-move-y));
            opacity: 0;
        }
        to {
            transform: translateX(0) translateY(0);
            opacity: 1;
        }
    }
}

@layer components {
    .dashed-div {
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-backdrop-filter: blur(4px); /* Safari */
        backdrop-filter: blur(4px);
        border: 1px solid rgb(55, 65, 81);
        border-radius: 0.75rem;
        background-image: 
            repeating-linear-gradient(
            45deg,
            transparent,
            transparent 4px,
            rgba(60, 60, 60, 0.3) 4px,
            rgba(60, 60, 60, 0.3) 5px
            ),
            repeating-linear-gradient(
            -45deg,
            transparent 60px,
            transparent 180px,
            rgba(40, 40, 40, 0.3) 180px,
            rgba(40, 40, 40, 0.3) 181px
            );
    }
}